root = true

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_diagnostic.IDE0055.severity = warning
end_of_line = lf
insert_final_newline = true
charset = utf-8
